body{
    margin : 0px;
    padding: 0px;
    background-image: url(img/background.gif);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}
div.brick{
   background-image: url(img/brick.png);
   background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;

}
div.life{
   background-image: url(img/life.gif);
   background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    height: 20px;
    width: 20px;
    display: block;
    color: cornsilk;

}
.lifeContainer{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    
}
.statsContainer{
    display: flex;
    flex-direction: row;
}
#score{
    color: white;
    border: 1px white solid ;
    width: 200px;
    text-align: center;
    background-color: black;
}
div.cereza{
    background:url("img/beer.gif"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 20px;
    height: 20px;
}
div.coin{
    background:url("img/coin.gif"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    width: 20px;
    height: 20px;
}
div.pacman{
    background:url("img/pacman.gif"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px; 
    height: 20px;  
    position: absolute;
}
div.ghost{
    background:url("img/ghost.gif");
     background-size: 30px; 
    background-repeat: no-repeat;
    background-position: center;
    width: 20px; 
    height: 20px;  
    position: absolute;
}

div.row div{
    margin-top : -4px;
    width: 20px;
    height: 20px;
    display: inline-block;
}
/* el pacman deberia moverse por 21 px  */
/* minuto/14.18 */